@tailwind base;
@tailwind components;
@tailwind utilities;

 


@layer base {
  body {
    color: #fff;
    background-color: #0D0D0D;
    background-image: url(/d927785.jpeg);
    background-size:cover;
    background-size: center;
    object-fit: cover;
    overflow-x: hidden;
    background-color: #0D0D0D;
    
  }
  /* .backgroundImage {
      width: 700px;
      height: 300px;
  } */
}
